@import "tailwindcss";

* {
	font-family: "Exo", sans-serif;
}

.exo {
	font-family: "Exo", sans-serif;
}

@font-face {
	font-family: "jnae";
	src: url("/fonts/Jnae-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.jnae {
	font-family: "jnae", sans-serif;
}
@font-face {
	font-family: "Writtenscribble";
	src: url("/fonts/Writtenscribble-Regular.ttf") format("truetype");
	font-style: normal;
}

.written-scribble {
	font-family: "Writtenscribble", sans-serif;
}

@font-face {
	font-family: "WashingMachine";
	src: url("/fonts/WashingMachine-Regular.ttf") format("truetype");
	font-style: normal;
}

.washing-machine {
	font-family: "WashingMachine", sans-serif;
}

@font-face {
	font-family: "Marketing";
	src: url("/fonts/marketing-disparities-font/Marketing.ttf") format("truetype");
	font-style: normal;
}

.marketing {
	font-family: "Marketing", sans-serif;
}

@font-face {
	font-family: "Monas";
	src: url("/fonts/monas-font/Monas.ttf") format("truetype");
	font-style: normal;
}

.monas {
	font-family: "Monas", sans-serif;
}

@font-face {
	font-family: "Fusskia";
	src: url("/fonts/fusskia-font/Fusskia.ttf") format("truetype");
	font-style: normal;
}

.fusskia {
	font-family: "Fusskia", sans-serif;
}

.folder {
	opacity: 1;
	filter: grayscale(0%);
	transition: all 200ms ease-in-out;
}

body:has(.folder:hover) .folder {
	opacity: 1;
	filter: grayscale(100%) blur(3.75px);
}

body:has(.folder:hover) .folder:hover {
	opacity: 1;
	filter: grayscale(0%);
}

/* filter: grayscale(100%); */

/* color: #DFDFDF; */
