@import "tailwindcss";
@font-face {
	font-family: "jnae";
	src: url("/fonts/Jnae-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.jnae {
	font-family: "jnae", sans-serif;
}
@font-face {
	font-family: "Writtenscribble";
	src: url("/fonts/Writtenscribble-Regular.ttf") format("truetype");
	font-style: normal;
}

.written-scribble {
	font-family: "Writtenscribble", sans-serif;
}
